<div class="AboutContent">

        <h2 class="title">About this sample</h2>
        <p>This IT Asset Management demo application showcases using several Essential JS 2 Anguar UI components
                together in a real-world application scenario. You can further explore the source code of this
                application and use it as a reference for integrating Essential JS 2 Angular UI components into your
                applications.</p>

        <h2>List of EJ2 Angular UI components used in this sample</h2>

        <div clas="items">

                <div class="element"> <i class="bi bi-menu-button-wide"></i>
                        <a href="https://ej2.syncfusion.com/angular/documentation/api/button/buttonModel/">Button</a>
                </div>

                <div class="element"> <i class="bi bi-card-heading"></i>
                        <a href="https://ej2.syncfusion.com/angular/documentation/card/horizontal/">Card</a>
                </div>

                <div class="element"> <i class="bi bi-bar-chart"></i><a
                                href="https://ej2.syncfusion.com/angular/documentation/chart/getting-started/">Chart</a>
                </div>

                <div class="element"> <i class="bi bi-credit-card-2-front"></i><a
                                href="https://ej2.syncfusion.com/angular/documentation/auto-complete/getting-started/">AutoComplete</a>
                </div>

                <div class="element"> <i class="bi bi-calendar2-event"></i><a
                                href="https://ej2.syncfusion.com/angular/documentation/calendar/getting-started/">DatePicker</a>
                </div>

                <div class="element"> <i class="bi bi-calendar2-week"></i><a
                                href="https://ej2.syncfusion.com/angular/documentation/daterangepicker/getting-started/">DateRangePicker</a>
                </div>


                <div class="element"> <i class="bi bi-collection"></i> <a
                                href="https://ej2.syncfusion.com/angular/documentation/dialog/getting-started/">Dialog</a>
                </div>

                <div class="element"><i class="bi bi-menu-button-wide"></i> <a
                                href="https://ej2.syncfusion.com/angular/documentation/drop-down-list/getting-started/">DropDownList</a>
                </div>

                <div class="element"> <i class="bi bi-grid-3x3"></i><a
                                href="https://ej2.syncfusion.com/angular/demos/#/bootstrap5/grid/over-view">Grid</a>
                </div>

                <div class="element"><i class="bi bi-cloud-upload"></i> <a
                                href="https://ej2.syncfusion.com/angular/documentation/uploader/how-to/determine-whether-uploader-has-file-input/">Uploader</a>
                </div>


                <div class="element"><i class="bi bi-postcard"></i> <a
                                href="https://ej2.syncfusion.com/angular/documentation/numerictextbox/how-to/maintain-trailing-zeros-in-numerictextbox/">NumericTextBox</a>
                </div>

                <div class="element"><i class="bi bi-ui-radios"></i><a
                                href="https://ej2.syncfusion.com/angular/documentation/button/getting-started/">RadioButton</a>
                </div>

                <div class="element"><i class="bi bi-layout-sidebar"></i><a
                                href="https://ej2.syncfusion.com/angular/documentation/sidebar/getting-started/">Sidebar</a>
                </div>

                <div class="element"> <i class="bi bi-card-checklist"></i><a
                                href="https://ej2.syncfusion.com/angular/documentation/listview/getting-started/">ListView</a>
                </div>

                <div class="element"> <i class="bi bi-menu-app"></i><a
                                href="https://ej2.syncfusion.com/angular/documentation/textbox/getting-started/">TextBoxes</a>
                </div>


                <div class="element"><i class="bi bi-card-heading"></i><a
                                href="https://ej2.syncfusion.com/angular/documentation/treemap/getting-started/">Treemap</a>
                </div>

                <div class="element"><i class="bi bi-person-circle"></i><a
                                href="https://ej2.syncfusion.com/angular/documentation/avatar/how-to/avatar-customization/">Avatar</a>
                </div>
        </div>
</div>

